@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 0 0 0;
  --ivory: 143 165 177;
}

@layer base {
  body {
    background-color: rgb(var(--black));
    color: rgb(var(--ivory));
  }

  canvas {
    --loop: rgb(var(--ivory) / 0.3);
    --cursor: rgb(var(--ivory) / 0.8);

    /* not used */
    --shadow: rgb(var(--ivory) / 0.1);
  }
}
